*{padding: 0; margin: 0; box-sizing: border-box;}
body{
  height: 100vh;
  font-size: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  background: url('https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(8px);
}
span{
  color: crimson;
  font-weight: 700;
}
/* ============================================ */
.container{
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 30px;
}
.form{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;

  gap: 8px;
  border: 2px dashed red;
  padding: 8px;
}
.num, .speed{
  flex: 1 0 130px;
}
button{
  flex: 1 0 40px;
  background: transparent;
  padding: 8px;
}
/* .speed{
  height: 65px;
} */
.flex {
  display: flex;
  gap: 20px;
  align-items: center;

  margin-top: 10px;
}
.input__top{
  margin-bottom: 10px;
}
